.container{
    margin: 50px 0;
    
}

.card{
    margin: 0 2% !important;
}
.infected{
    border-bottom: 10px solid rgb(138,43,226);
    border-left: 5px solid rgb(138,43,226);
}
.recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
    border-left: 5px solid rgba(0, 255, 0, 0.5);
}
.deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
    border-left: 5px solid rgba(255, 0, 0, 0.5);
}

